In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

le = pd.read_csv("life-expectancy.csv")
gdp = pd.read_csv("gdp-per-capita-worldbank.csv")

            Entity Code  Year  Life expectancy
0      Afghanistan  AFG  1950           27.638
1      Afghanistan  AFG  1951           27.878
2      Afghanistan  AFG  1952           28.361
3      Afghanistan  AFG  1953           28.852
4      Afghanistan  AFG  1954           29.350
...            ...  ...   ...              ...
19023     Zimbabwe  ZWE  2015           59.534
19024     Zimbabwe  ZWE  2016           60.294
19025     Zimbabwe  ZWE  2017           60.812
19026     Zimbabwe  ZWE  2018           61.195
19027     Zimbabwe  ZWE  2019           61.490

[19028 rows x 4 columns]

,Entity,Code,Year,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2002,1189.784668
1,Afghanistan,AFG,2003,1235.810063
2,Afghanistan,AFG,2004,1200.278013
3,Afghanistan,AFG,2005,1286.793659
4,Afghanistan,AFG,2006,1315.789117
...,...,...,...,...
7104,Zimbabwe,ZWE,2016,3173.610829
7105,Zimbabwe,ZWE,2017,3274.611198
7106,Zimbabwe,ZWE,2018,3341.665418
7107,Zimbabwe,ZWE,2019,3027.656038
7108,Zimbabwe,ZWE,2020,2744.690758